<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
            <h2>レポート詳細</h2>
        </div>
        
    </div>
    <div class="container countainer-mdiv.container-m bg-white rounded border border-secondary container p-3">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5">
                <img class="img-responsive img-circle reviews" src="<%= "/user_images/#{@report.user.image_name}" %>" >
            </div>
            <div class="col-lg-10 col-md-9 col-sm-8 col-xs-7">
                <div class=" right show" style="position:relative; top=-90px; left=100px; max-width:100%; display:inline;">
                    <h4>Title:<%= @report.title %></h4>
                    <h5>投稿者：<%= @report.user.name %></h5>
                    <div class="text-wrap">
                        <%= @report.content %>
                    </div>
                    <% if @report.user_id == @current_user.id %>
                        <%= link_to("編集", "/reports/#{@report.id}/edit", {class: "d-block text-right"}) %>
                        <%= link_to("削除", "/reports/#{@report.id}/destroy", {method: "post", class: "d-block text-right"}) %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-3 text-right">
        <% if Check.find_by(user_id: @current_user.id, report_id: @report.id) %>
            <%= link_to("確認済み", "/checks/#{@report.id}/destroy", {method: "post", class: "btn btn-success"}) %>
        <% else %>
            <%= link_to("未確認", "/checks/#{@report.id}/create", {method: "post", class: "btn btn-secondary"}) %>
        <% end %>
        <%= @checks_count %>/<%= @users_count %>  
    </div>
    <div class="py-3 text-center">
        <%= link_to("一覧に戻る", "/reports/index") %>
    </div>
    <div class="container">
    <%= form_tag("/comments/#{@report.id}/create") do %>
         
            <div class="mb-3">
                <div class="input-group">
                    <textarea type="text" class="form-control" placeholder="Comment" name="comment"></textarea>
                </div>
            </div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">コメントする</button>
        
    <% end %>
    </div>
 

    <% @comments.each do |comment| %>
        <div class="my-3 p-3 bg-white rounded border border-secondary container">
            <div class="text-muted">


                <div class="d-flex justify-content-between align-items-center w-100 ">
                    <span class="d-block">
                    <%= comment.user.name %><br />
                    
                    <%= comment.comment %>
                    </span>
                </div>
                <div class="text-right">
                    <span class="d-block"><%= comment.updated_at.to_s(:datetime_jp)%></span>
                </div>
            </div>
        </div>
    <% end %>
</body>