<!DOCTYPE html>
<html>
  <head>
    <title>PostTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    <% if @current_user %>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <%= link_to("Home", "/index", {class: "navbar-brand"}) %>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to(@current_user.name, "/users/#{@current_user.id}", {class: "nav-link"}) %>
            </li>
            <li class="nav-item">
              <%= link_to("TodoList", "/lists/index", {class: "nav-link"}) %>
            </li>
            <li class="nav-item">
              <%= link_to("Report", "/reports/index", {class: "nav-link"}) %>
            </li>
            <li class="nav-item">
              <%= link_to("Users", "/users/index", {class: "nav-link"}) %>
            </li>
            <li class="nav-item">
              <%= link_to("Logout", "/logout", {method: "post", class: "nav-link"}) %>
            </li>
          </ul>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <%= link_to("TopPage", "/", {class: "navbar-brand"}) %>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to("Login", "/login", {class: "nav-link"}) %>
          </li>
            <li class="nav-item">
              <%= link_to("About", "/about", {class: "nav-link"}) %>
            </li>
          </ul>
        </div>
      </nav>
    <% end %>
    <br>
  </header>

  <% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
  <% end %>

    <%= yield %>
  </body>
</html>
